# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
six
numpy
pandas
scikit-learn

ffmpeg

#img
tqdm
pillow

# tests/linter


# API
requests
streamlit

# utilities
opencv-python
mediapipe
pickle
